{
    "openapi": "3.0.1",
    "info": {
        "title": "Data API",
        "description": "APIs for interacting with the data platform.",
        "version": "v1.0"
    },
    "servers": [
        {
            "url": "https://swiftly-data-api-prod.azure-api.net/v1.0"
        }
    ],
    "paths": {
        "/refresh-request/create": {
            "post": {
                "tags": [
                    "Refresh Request"
                ],
                "summary": "refresh-request-create",
                "description": "Create EventHub refresh requests for stores, products, segments, and other domains.",
                "operationId": "refresh-request-create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefreshRequest"
                            },
                            "examples": {
                                "Stores Refresh Example": {
                                    "summary": "Stores refresh request",
                                    "value": {
                                        "tenant_id": "henh",
                                        "domain": "stores"
                                    }
                                },
                                "Segment Refresh Example": {
                                    "summary": "Segment refresh request",
                                    "value": {
                                        "tenant_id": "fd",
                                        "domain": "segments",
                                        "domain_item_id": "3e4c589f-8372-4de4-8c58-576147a444b6"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefreshResponse"
                                },
                                "examples": {
                                    "Refresh Success Example": {
                                        "summary": "Successfull refresh request",
                                        "value": {
                                            "refresh_request_id": "530fdde7-f510-4005-99a1-7437273adda7",
                                            "message": "Refresh requested."
                                        }
                                    },
                                    "Duplicate Refresh Example": {
                                        "summary": "Duplicate refresh request",
                                        "value": {
                                            "refresh_request_id": "null",
                                            "message": "Refresh request already in progress for tenant_id: henh and domain: stores.  Try again later."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/refresh-request/status": {
            "get": {
                "tags": [
                    "Refresh Request"
                ],
                "summary": "refresh-request-status",
                "description": "Checks status for a refresh request.",
                "operationId": "refresh-request-status",
                "parameters": [
                    {
                        "name": "refresh_request_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefreshStatusCompleted"
                                },
                                "examples": {
                                    "Refresh InProgess Example": {
                                        "summary": "Refresh in progress",
                                        "value": {
                                            "refresh_request_id": "530fdde7-f510-4005-99a1-7437273adda7",
                                            "status": "In progress"
                                        }
                                    },
                                    "Refresh Completed Example": {
                                        "summary": "Refresh Completed",
                                        "value": {
                                            "refresh_request_id": "530fdde7-f510-4005-99a1-7437273adda7",
                                            "status": "Completed",
                                            "record_count": 9,
                                            "fullfilled_datetime_utc": "2023-03-17T05:19:45.0000000+00:00"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/store/list": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "store-list",
                "description": "List store by tenant id. Returns up to 25 stores per call. Use 'start' parameter to paginate through store list. Defaults to 0 if not provided.",
                "operationId": "store-list",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/vnd.collection+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreListResponse"
                                },
                                "examples": {
                                    "Store List Response": {
                                        "summary": "Response for store list",
                                        "value": [
                                            {
                                                "store_id": "a75d9543-ff40-41f8-acfb-368ae4349cb3",
                                                "chain_id": "375bd5a2-da82-4e6a-a330-c264c797272f",
                                                "tenant_id": "henh",
                                                "tenant_store_id": "35",
                                                "name": "Fairway Hen House Market",
                                                "description": "Fairway Hen House Market"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/store/get": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "store-get",
                "description": "Returns store details for a requested store_id. The store response has additional properties that are not allowed in the /store/update-full and /store/update-incremental requests.",
                "operationId": "store-get",
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreGetResponse"
                                },
                                "example": {
                                    "store_id": "string",
                                    "tenant_id": "string",
                                    "update_datetime_utc": 0,
                                    "process_status": "string",
                                    "ledger_id": "string",
                                    "context_id": "string",
                                    "store_info": {
                                        "chain_id": "string",
                                        "tenant_store_id": "string",
                                        "tenant_chain_id": "string",
                                        "insert_datetime_utc": 0,
                                        "update_datetime_utc": 0,
                                        "name": "string",
                                        "description": "string",
                                        "latitude": 0,
                                        "longitude": 0,
                                        "address1": "string",
                                        "address2": "string",
                                        "city": "string",
                                        "state": "string",
                                        "country": "string",
                                        "postal_code": "string",
                                        "status": {
                                            "status": "string",
                                            "as_of_date": "string"
                                        },
                                        "next_status": {
                                            "status": "string",
                                            "as_of_date": "string"
                                        },
                                        "phone_numbers": [
                                            {
                                                "value": "string",
                                                "description": "string"
                                            }
                                        ],
                                        "hours": [
                                            {
                                                "day": "string",
                                                "hours": {
                                                    "open": "string",
                                                    "close": "string"
                                                }
                                            }
                                        ],
                                        "payments": [
                                            "string"
                                        ],
                                        "languages": [
                                            "string"
                                        ],
                                        "amenities": [
                                            "string"
                                        ],
                                        "images": [
                                            {
                                                "url": "string",
                                                "purpose": "string"
                                            }
                                        ],
                                        "websites": [
                                            {
                                                "value": "string",
                                                "description": "string"
                                            }
                                        ],
                                        "department_details": [
                                            {
                                                "name": "string",
                                                "description": "string",
                                                "status": {
                                                    "status": "string",
                                                    "as_of_date": "string"
                                                },
                                                "next_status": {
                                                    "status": "string",
                                                    "as_of_date": "string"
                                                },
                                                "hours": [
                                                    {
                                                        "day": "string",
                                                        "hours": {
                                                            "open": "string",
                                                            "close": "string"
                                                        }
                                                    }
                                                ],
                                                "phone_numbers": [
                                                    {
                                                        "value": "string",
                                                        "description": "string"
                                                    }
                                                ],
                                                "images": [
                                                    {
                                                        "url": "string",
                                                        "purpose": "string"
                                                    }
                                                ],
                                                "websites": [
                                                    {
                                                        "value": "string",
                                                        "description": "string"
                                                    }
                                                ]
                                            }
                                        ],
                                        "metadata": [
                                            {
                                                "id": "string",
                                                "value": "string"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/store/update-full": {
            "post": {
                "tags": [
                    "Stores"
                ],
                "summary": "update-full",
                "description": "Bulk update of the full store listing for a tenant.  Existing stores that are not included in the request payload will be flagged deleted in the data warehouse.",
                "operationId": "store-update-full",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreUpdateRequest"
                            },
                            "example": {
                                "tenant_id": "string",
                                "stores": [
                                    {
                                        "tenant_store_id": "string",
                                        "tenant_chain_id": "string",
                                        "name": "string",
                                        "description": "string",
                                        "address1": "string",
                                        "address2": "string",
                                        "city": "string",
                                        "state": "string",
                                        "country": "string",
                                        "postal_code": "string",
                                        "status": {
                                            "status": "string",
                                            "as_of_date": "string"
                                        },
                                        "next_status": {
                                            "status": "string",
                                            "as_of_date": "string"
                                        },
                                        "phone_numbers": [
                                            {
                                                "value": "string",
                                                "description": "string"
                                            }
                                        ],
                                        "hours": [
                                            {
                                                "day": "string",
                                                "hours": {
                                                    "open": "string",
                                                    "close": "string"
                                                }
                                            }
                                        ],
                                        "payments": [
                                            "string"
                                        ],
                                        "languages": [
                                            "string"
                                        ],
                                        "amenities": [
                                            "string"
                                        ],
                                        "images": [
                                            {
                                                "url": "string",
                                                "purpose": "string"
                                            }
                                        ],
                                        "websites": [
                                            {
                                                "value": "string",
                                                "description": "string"
                                            }
                                        ],
                                        "time_zone": "string",
                                        "latitude": 0,
                                        "longitude": 0,
                                        "department_details": [
                                            {
                                                "name": "string",
                                                "description": "string",
                                                "status": {
                                                    "status": "string",
                                                    "as_of_date": "string"
                                                },
                                                "next_status": {
                                                    "status": "string",
                                                    "as_of_date": "string"
                                                },
                                                "hours": [
                                                    {
                                                        "day": "string",
                                                        "hours": {
                                                            "open": "string",
                                                            "close": "string"
                                                        }
                                                    }
                                                ],
                                                "phone_numbers": [
                                                    {
                                                        "value": "string",
                                                        "description": "string"
                                                    }
                                                ],
                                                "images": [
                                                    {
                                                        "url": "string",
                                                        "purpose": "string"
                                                    }
                                                ],
                                                "websites": [
                                                    {
                                                        "value": "string",
                                                        "description": "string"
                                                    }
                                                ]
                                            }
                                        ],
                                        "metadata": [
                                            {}
                                        ],
                                        "doc_version": 0
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/store/update-incremental": {
            "post": {
                "tags": [
                    "Stores"
                ],
                "summary": "update-incremental",
                "description": "Updates one or more stores for a tenant.  All the properties must be in the payload, not just the property being updated.",
                "operationId": "store-update-incremental",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreUpdateRequest"
                            },
                            "example": {
                                "tenant_id": "string",
                                "stores": [
                                    {
                                        "tenant_store_id": "string",
                                        "tenant_chain_id": "string",
                                        "name": "string",
                                        "description": "string",
                                        "address1": "string",
                                        "address2": "string",
                                        "city": "string",
                                        "state": "string",
                                        "country": "string",
                                        "postal_code": "string",
                                        "status": {
                                            "status": "string",
                                            "as_of_date": "string"
                                        },
                                        "next_status": {
                                            "status": "string",
                                            "as_of_date": "string"
                                        },
                                        "phone_numbers": [
                                            {
                                                "value": "string",
                                                "description": "string"
                                            }
                                        ],
                                        "hours": [
                                            {
                                                "day": "string",
                                                "hours": {
                                                    "open": "string",
                                                    "close": "string"
                                                }
                                            }
                                        ],
                                        "payments": [
                                            "string"
                                        ],
                                        "languages": [
                                            "string"
                                        ],
                                        "amenities": [
                                            "string"
                                        ],
                                        "images": [
                                            {
                                                "url": "string",
                                                "purpose": "string"
                                            }
                                        ],
                                        "websites": [
                                            {
                                                "value": "string",
                                                "description": "string"
                                            }
                                        ],
                                        "time_zone": "string",
                                        "latitude": 0,
                                        "longitude": 0,
                                        "department_details": [
                                            {
                                                "name": "string",
                                                "description": "string",
                                                "status": {
                                                    "status": "string",
                                                    "as_of_date": "string"
                                                },
                                                "next_status": {
                                                    "status": "string",
                                                    "as_of_date": "string"
                                                },
                                                "hours": [
                                                    {
                                                        "day": "string",
                                                        "hours": {
                                                            "open": "string",
                                                            "close": "string"
                                                        }
                                                    }
                                                ],
                                                "phone_numbers": [
                                                    {
                                                        "value": "string",
                                                        "description": "string"
                                                    }
                                                ],
                                                "images": [
                                                    {
                                                        "url": "string",
                                                        "purpose": "string"
                                                    }
                                                ],
                                                "websites": [
                                                    {
                                                        "value": "string",
                                                        "description": "string"
                                                    }
                                                ]
                                            }
                                        ],
                                        "metadata": [
                                            {}
                                        ],
                                        "doc_version": 0
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/domain/list": {
            "get": {
                "tags": [
                    "Reference Data"
                ],
                "summary": "domain-list",
                "description": "Returns list of available data domains",
                "operationId": "domain-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/store/metadata-search": {
            "post": {
                "tags": [
                    "Stores"
                ],
                "summary": "metadata-search",
                "description": "List stores that matches tenant_id and metadata id and value in request body",
                "operationId": "store-metadata-search",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreMetadataSearch"
                            },
                            "examples": {
                                "Store Metadata Search": {
                                    "summary": "Search for store using metadata id and value",
                                    "value": {
                                        "tenant_id": "henh",
                                        "id": "agr_flyer_store_id",
                                        "value": "644"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/StoreMetadataSearchResponse"
                                },
                                "examples": {
                                    "Store Metadata Search Response": {
                                        "summary": "Response for store metadata search",
                                        "value": [
                                            {
                                                "store_id": "a75d9543-ff40-41f8-acfb-368ae4349cb3",
                                                "chain_id": "375bd5a2-da82-4e6a-a330-c264c797272f",
                                                "tenant_id": "henh",
                                                "tenant_store_id": "35",
                                                "name": "Fairway Hen House Market",
                                                "description": "Fairway Hen House Market"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/store/status": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "store-status",
                "description": "Returns store update status for a requested context id",
                "operationId": "store-status",
                "parameters": [
                    {
                        "name": "context_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/store/status-list": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "store-status-list",
                "description": "Returns list of store update status for a requested tenant",
                "operationId": "store-status-list",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/vnd.collection+json": {}
                        }
                    }
                }
            }
        },
        "/tenant/list": {
            "get": {
                "tags": [
                    "Reference Data"
                ],
                "summary": "tenant-list",
                "description": "Returns list of tenants",
                "operationId": "tenant-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantListResponse"
                                },
                                "example": [
                                    {
                                        "tenant_id": "string",
                                        "display_name": "string",
                                        "parent_id": "string",
                                        "chain_id": "string",
                                        "dev_only": true
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/campaign/get": {
            "get": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "campaign-get",
                "description": "Returns campaign details and upcs for a requested campaign_code. Returns all open campaigns with no upc mappings if campaign_code is not used.",
                "operationId": "campaign-get",
                "parameters": [
                    {
                        "name": "campaign_code",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignGetResponse"
                                },
                                "example": [
                                    {
                                        "campaign_code": "string",
                                        "campaign_name": "string",
                                        "campaign_start_date": "string",
                                        "campaign_end_date": "string",
                                        "campaign_status": "string",
                                        "advertiser_name": "string",
                                        "retailer_name": "string",
                                        "mapped_upc_count": 0,
                                        "upc_list": [
                                            {
                                                "upc": "string",
                                                "featured": true
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/campaign/update": {
            "post": {
                "tags": [
                    "Campaigns"
                ],
                "summary": "campaign-update",
                "description": "Update UPC list for a Campaign.",
                "operationId": "campaign-update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CampaignUpdateRequest"
                            },
                            "example": {
                                "campaign_code": "string",
                                "upc_list": [
                                    {
                                        "upc": "string",
                                        "featured": true
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/product/upsert": {
            "post": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-upsert",
                "description": "Creates or updates a product for the Product Catalog.",
                "operationId": "product-upsert",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductUpsertRequest"
                            },
                            "example": {
                                "product_code": "string",
                                "product_code_type": "string",
                                "product_name": "string",
                                "product_image": "string",
                                "is_active": true,
                                "description": "string",
                                "brand": "string",
                                "supplemental_images": [
                                    "string"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductUpsertResponse"
                                },
                                "example": {
                                    "product_code": "string",
                                    "action": "string",
                                    "error": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/get": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-get",
                "description": "Returns a product from the Product Catalog by product code.",
                "operationId": "product-get",
                "parameters": [
                    {
                        "name": "product_code",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductGetResponse"
                                },
                                "example": {
                                    "product_code": "string",
                                    "product_code_type": "string",
                                    "product_name": "string",
                                    "product_image": "string",
                                    "is_active": true,
                                    "description": "string",
                                    "brand": "string",
                                    "supplemental_images": [
                                        "string"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product/list": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-list",
                "description": "Returns a list of products from the Product Catalog that match the search parameters.",
                "operationId": "product-list",
                "parameters": [
                    {
                        "name": "product_code",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "product_name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductListGetResponse"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "product_code": "string",
                                            "product_code_type": "string",
                                            "product_name": "string",
                                            "product_image": "string",
                                            "is_active": true,
                                            "description": "string",
                                            "brand": "string",
                                            "supplemental_images": [
                                                "string"
                                            ]
                                        }
                                    ],
                                    "total": 0,
                                    "next_offset": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "/profiles/deleted-profiles/get": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "summary": "profiles-deleted-profiles-get",
                "description": "Returns deleted profiles for a requested tenant_id and period (start_date, end_date). Should be specified start_date or/and end_date. In case if only one parameter is specified data will be returned 6 months before or after, depending on specified parameter. Ex. start_date = '2022-01-01', end_date will be '2022-07-01'",
                "operationId": "profiles-deleted-profiles-get",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeletedProfilesResponse"
                                },
                                "example": {
                                    "swiftly_user_id": "string",
                                    "tenant_id": "string",
                                    "loyalty_id": "string",
                                    "updated_datetime": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/profiles/tenant-users/list": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "summary": "profiles-tenant-users-list",
                "description": "Returns profiles for a requested tenant_id and period (start_date, end_date). Should be specified start_date and end_date.",
                "operationId": "profiles-tenant-users-list",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TenantUsersResponse"
                                },
                                "example": {
                                    "tenant_id": "string",
                                    "customer_id": "string",
                                    "email": "string",
                                    "phone": "string",
                                    "download_date": "string",
                                    "point_balance": "string",
                                    "points_expiring": "string",
                                    "rewards_expiring": "string",
                                    "preferred_store_location": "string",
                                    "email_opt_in": "string",
                                    "push_opt_in": "string",
                                    "eaiv_over_21": "string",
                                    "eaiv_date": "string",
                                    "zip": "string",
                                    "dob": "string",
                                    "street": "string",
                                    "city": "string",
                                    "state": "string",
                                    "last_app_activity_datetime": "string",
                                    "updated_datetime": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/swiftly-catalog/product/update": {
            "post": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "swiftly-catalog-product-update",
                "description": "Updates a product for the Swiftly Product Catalog.",
                "operationId": "swiftly-catalog-product-upsert",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SwiftlyCatalogProductUpdateRequest"
                            },
                            "example": {
                                "product_code": "string",
                                "is_active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SwiftlyCatalogProductUpdateResponse"
                                },
                                "example": {
                                    "product_code": "string",
                                    "action": "string",
                                    "error": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/swiftly-catalog/product/get": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "swiftly-catalog-product-get",
                "description": "Returns a product from the Swiftly Catalog by product code.",
                "operationId": "swiftly-catalog-product-get",
                "parameters": [
                    {
                        "name": "product_code",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SwiftlyCatalogProductGetResponse"
                                },
                                "example": {
                                    "product_code": "string",
                                    "product_code_type": "string",
                                    "is_active": true,
                                    "attributes": [
                                        {
                                            "attribute_name": "string",
                                            "attribute_value": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/swiftly-catalog/product/list": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "swiftly-catalog-product-list",
                "description": "Returns a list of products from the Swiftly Catalog that match the search parameters.",
                "operationId": "swiftly-catalog-product-list",
                "parameters": [
                    {
                        "name": "product_code",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "product_name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start_datetime_utc",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SwiftlyCatalogProductListGetResponse"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "product_code": "string",
                                            "product_code_type": "string",
                                            "is_active": true,
                                            "attributes": [
                                                {
                                                    "attribute_name": "string",
                                                    "attribute_value": "string"
                                                }
                                            ]
                                        }
                                    ],
                                    "total": 0,
                                    "next_offset": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product-flag-def/list": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-flag-list",
                "description": "Returns all the product flags.",
                "operationId": "product-flag-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductFlagListResponse"
                                },
                                "example": [
                                    {
                                        "product_flag_id": "string",
                                        "product_flag_name": "string"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/product-flag/get": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-flag-get",
                "description": "Returns all the product flags filtered by tenant_id.",
                "operationId": "product-flag-get",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductFlagGetResponse"
                                },
                                "example": [
                                    {
                                        "tenant_id": "string",
                                        "retailer_flag_code": "string",
                                        "display_name": "string",
                                        "flag_name": "string"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/product-flag/create": {
            "post": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-flag-create",
                "description": "Creates the product flag.",
                "operationId": "product-flag-create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductFlagCreateRequest"
                            },
                            "example": {
                                "tenant_id": "string",
                                "retailer_flag_code": "string",
                                "display_name": "string",
                                "flag_name": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductFlagUpdateResponse"
                                },
                                "example": {
                                    "message": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product-flag/update": {
            "post": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-flag-update",
                "description": "Updates the product flag.",
                "operationId": "product-flag-update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductFlagUpdateRequest"
                            },
                            "example": {
                                "tenant_id": "string",
                                "retailer_flag_code": "string",
                                "display_name": "string",
                                "flag_name": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductFlagUpdateResponse"
                                },
                                "example": {
                                    "message": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product-flag/delete": {
            "delete": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-flag-delete",
                "description": "Marked product flag as deleted by tenant_id and retailer_flag_code",
                "operationId": "product-flag-delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductFlagDeleteRequest"
                            },
                            "example": {
                                "tenant_id": "string",
                                "retailer_flag_code": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductFlagDeleteResponse"
                                },
                                "example": {
                                    "tenant_id": "string",
                                    "retailer_flag_code": "string",
                                    "success": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/product-attribute-priority/list": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-attribute-priority-list",
                "description": "Returns all the product attribute priorities by tenant_id.",
                "operationId": "product-attribute-priority-list",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductAttributePriorityListResponse"
                                },
                                "example": [
                                    {
                                        "tenant_id": "string",
                                        "attribute_id": 0,
                                        "attribute_name": "string",
                                        "display_name": "string",
                                        "source_id": 0,
                                        "source_name": "string",
                                        "source_code": "string",
                                        "priority": 0
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/retailer/product-attribute-priority/create": {
            "post": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-attribute-priority-create",
                "description": "Creates the product attribute priority.",
                "operationId": "product-attribute-priority-create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductAttributePriorityCreateRequest"
                            },
                            "example": {
                                "tenant_id": "string",
                                "attribute_id": 0,
                                "priority": [
                                    {
                                        "source_id": 0,
                                        "priority": 0
                                    }
                                ],
                                "updated_by": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductAttributePriorityCreateResponse"
                                },
                                "example": {
                                    "message": [
                                        0
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/product-attribute-priority/update": {
            "post": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-attribute-priority-update",
                "description": "Updates the product attribute priority.",
                "operationId": "product-attribute-priority-update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductAttributePriorityCreateRequest"
                            },
                            "example": {
                                "tenant_id": "string",
                                "attribute_id": 0,
                                "priority": [
                                    {
                                        "source_id": 0,
                                        "priority": 0
                                    }
                                ],
                                "updated_by": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductAttributePriorityCreateResponse"
                                },
                                "example": {
                                    "message": [
                                        0
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/product-attribute/list": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-attribute-list",
                "description": "Returns all the attributes.",
                "operationId": "product-attribute-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductAttributeListResponse"
                                },
                                "example": [
                                    {
                                        "attribute_id": 0,
                                        "attribute_name": "string",
                                        "display_name": "string",
                                        "description": "string"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/retailer/product-source/list": {
            "get": {
                "tags": [
                    "Product Catalog"
                ],
                "summary": "product-source-list",
                "description": "Returns all the sources by tenant_id.",
                "operationId": "product-source-list",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductSourceListResponse"
                                },
                                "example": [
                                    {
                                        "source_id": 0,
                                        "source_name": "string",
                                        "source_code": "string",
                                        "description": "string",
                                        "tenant_id": "string"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/image/get": {
            "get": {
                "tags": [
                    "Image"
                ],
                "summary": "image-get",
                "description": "Returns image details",
                "operationId": "image-get",
                "parameters": [
                    {
                        "name": "image_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImageGetResponse"
                                },
                                "example": {
                                    "image_id": 0,
                                    "original_image_url": "string",
                                    "image_url": "string",
                                    "image_type": "string",
                                    "external_reference": [
                                        {}
                                    ],
                                    "last_updated": "string",
                                    "status": "string",
                                    "last_refresh_date": "string",
                                    "comments": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/image/list": {
            "get": {
                "tags": [
                    "Image"
                ],
                "summary": "image-list",
                "description": "Returns list of images",
                "operationId": "image-list",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "image_type",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImageListResponse"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "image_id": 0,
                                            "original_image_url": "string",
                                            "image_url": "string",
                                            "image_type": "string",
                                            "external_reference": [
                                                {}
                                            ],
                                            "last_updated": "string",
                                            "status": "string",
                                            "last_refresh_date": "string",
                                            "comments": "string"
                                        }
                                    ],
                                    "total": 0,
                                    "next_offset": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "/image/submit": {
            "post": {
                "tags": [
                    "Image"
                ],
                "summary": "image-submit",
                "description": "submits list of images for downloading to image storage account",
                "operationId": "image-submit",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageSubmitRequest"
                            },
                            "example": {
                                "images": [
                                    {
                                        "image_type": "string",
                                        "image_url": "string",
                                        "external_reference": [
                                            {
                                                "tenant_id": "string",
                                                "product_code": "string"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImageGetResponse"
                                },
                                "example": {
                                    "image_id": 0,
                                    "original_image_url": "string",
                                    "image_url": "string",
                                    "image_type": "string",
                                    "external_reference": [
                                        {}
                                    ],
                                    "last_updated": "string",
                                    "status": "string",
                                    "last_refresh_date": "string",
                                    "comments": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/image/upload": {
            "post": {
                "tags": [
                    "Image"
                ],
                "summary": "image-upload",
                "description": "uploads an image to image storage account",
                "operationId": "image-upload",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ImageUploadRequest"
                            },
                            "example": {
                                "file_name": "string",
                                "image_data": "string",
                                "image_type": "string",
                                "preserve_filename": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImageGetResponse"
                                },
                                "example": {
                                    "image_id": 0,
                                    "original_image_url": "string",
                                    "image_url": "string",
                                    "image_type": "string",
                                    "external_reference": [
                                        {}
                                    ],
                                    "last_updated": "string",
                                    "status": "string",
                                    "last_refresh_date": "string",
                                    "comments": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upc/clean/get": {
            "get": {
                "tags": [
                    "UPC"
                ],
                "summary": "upc-clean-get",
                "description": "Accepts a GTIN14 and returns different formatted UPCs.",
                "operationId": "upc-clean-get",
                "parameters": [
                    {
                        "name": "upc",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpcCleanGetResponse"
                                },
                                "example": {
                                    "upc": "string",
                                    "codes": {
                                        "UPC12": "string",
                                        "UPC11": "string",
                                        "GTIN14": "string",
                                        "EAN8": "string",
                                        "EAN13": "string",
                                        "UPCE": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/upc/clean/list": {
            "post": {
                "tags": [
                    "UPC"
                ],
                "summary": "upc-clean-list",
                "description": "Accepts a list of GTIN14s and returns different formatted UPCs",
                "operationId": "upc-clean-list",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpcCleanListRequest"
                            },
                            "example": [
                                "string"
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UpcCleanListResponse"
                                },
                                "example": [
                                    {
                                        "upc": "string",
                                        "codes": {
                                            "UPC12": "string",
                                            "UPC11": "string",
                                            "GTIN14": "string",
                                            "EAN8": "string",
                                            "EAN13": "string",
                                            "UPCE": "string"
                                        }
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/banner/config/list": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "banner-config-list",
                "description": "Returns a list of banner configuration options",
                "operationId": "banner-config-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BannerConfigListResponse"
                                },
                                "example": [
                                    {
                                        "configuration_id": 0,
                                        "configuration_name": "string",
                                        "description": "string",
                                        "configuration_data_type_name": "string",
                                        "category": "string",
                                        "template": "string"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/banner/get": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "banner-get",
                "description": "Returns information about the requested banner",
                "operationId": "banner-get",
                "parameters": [
                    {
                        "name": "banner_short_name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "banner_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BannerGetResponse"
                                },
                                "example": {
                                    "banner_id": "string",
                                    "banner_short_name": "string",
                                    "display_name": "string",
                                    "is_active": true,
                                    "configurations": {},
                                    "last_updated": "string",
                                    "last_updated_ny": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/banner/list": {
            "get": {
                "tags": [
                    "Configuration"
                ],
                "summary": "banner-list",
                "description": "Returns information about list of banners",
                "operationId": "banner-list",
                "parameters": [
                    {
                        "name": "banner_short_name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "display_name",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BannerListResponse"
                                },
                                "example": {
                                    "results": [
                                        {
                                            "banner_id": "string",
                                            "banner_short_name": "string",
                                            "display_name": "string",
                                            "is_active": true,
                                            "configurations": {},
                                            "last_updated": "string",
                                            "last_updated_ny": "string"
                                        }
                                    ],
                                    "total": 0,
                                    "next_offset": 0
                                }
                            }
                        }
                    }
                }
            }
        },
        "/banner/save": {
            "post": {
                "tags": [
                    "Configuration"
                ],
                "summary": "banner-post",
                "description": "Updates or inserts banner with configs and returns banner data after modification",
                "operationId": "banner-save",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BannerSaveRequest"
                            },
                            "example": {
                                "banner_short_name": "string",
                                "display_name": "string",
                                "is_active": true,
                                "republish": true,
                                "configurations": {},
                                "banner_id": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BannerGetResponse"
                                },
                                "example": {
                                    "banner_id": "string",
                                    "banner_short_name": "string",
                                    "display_name": "string",
                                    "is_active": true,
                                    "configurations": {},
                                    "last_updated": "string",
                                    "last_updated_ny": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/swiftly-catalog/rebuild": {
            "post": {
                "tags": [
                    "Configuration"
                ],
                "summary": "swiftly-catalog/rebuild",
                "description": "Initiates full rebuild of product catalog",
                "operationId": "swiftly-catalog-product-rebuild",
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/data-export/get": {
            "get": {
                "tags": [
                    "Data Export"
                ],
                "summary": "data-export-get",
                "description": "Returns export config information by export_config_id",
                "operationId": "data-export-get",
                "parameters": [
                    {
                        "name": "export_config_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataExportSaveResponse"
                                },
                                "example": {
                                    "export_config_id": "string",
                                    "export_config_name": "string",
                                    "export_type_id": 0,
                                    "tenant_id": "string",
                                    "parameters": {},
                                    "is_active": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/data-export/list": {
            "get": {
                "tags": [
                    "Data Export"
                ],
                "summary": "data-export-list",
                "description": "Returns export configs information by tenant_id",
                "operationId": "data-export-list",
                "parameters": [
                    {
                        "name": "tenant_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataExportSaveResponse"
                                },
                                "example": {
                                    "export_config_id": "string",
                                    "export_config_name": "string",
                                    "export_type_id": 0,
                                    "tenant_id": "string",
                                    "parameters": {},
                                    "is_active": true
                                }
                            }
                        }
                    }
                }
            }
        },
        "/data-export/save": {
            "post": {
                "tags": [
                    "Data Export"
                ],
                "summary": "data-export-post",
                "description": "Updates or inserts data export config, creates mover config",
                "operationId": "data-export-save",
                "requestBody": {
                    "content": {
[...]
